.code-example {
  pre {
    max-height: 100vh;
    min-height: 50vh;
    white-space: pre-wrap;
    overflow-x: auto;
    font-size: 0.9em;
  }

  .code-description {
    white-space: pre-line;
  }
}
