.disclaimer {
  background: transparent;
  position: relative;

  .disclaimer-content {
    position: relative;
    z-index: 1;
    text-align: left;
    width: 100%;

    @media (min-width: map-get($grid-breakpoints, "md")) {
      width: 50%;
    }

    .disclaimer-title {
      text-align: center;

      @media (min-width: map-get($grid-breakpoints, "md")) {
        text-align: left;
      }
    }
  }
}
